/* GENERAL CSS TO BE USED IN BOTH HTML-docs and/or 2 OR MORE SECTIONS START */

body {
    background: #E5E5E5;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.wrapper {
    /* background-color:red; */
    width:100%;
    margin-left:auto;
    margin-right:auto;
    max-width:960px;
    min-width:400px;
    min-height:600px;
    padding:0;
}

.join-button {
    text-decoration:none;
    color:black;
    display:inline-block;
    box-sizing: border-box;
    width:10em;
    height:3em;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 3em;
    text-align:center;
    background-image: url("img/button.png");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.join-button:hover {
    filter:drop-shadow(5px 5px 5px black) invert(100%); 
}


/* GENERAL CSS TO BE USED IN BOTH HTML-docs and/or 2 OR MORE SECTIONS END */



/* CSS FOR INDEX.HTML START */


/* Midori Start*/

.header-top {
    display: grid;
    grid-template: 
     "header1 header2" 50% 
     "header1 header3" 50%
     / 50% 50%;
}

span {
    color: white;
}


header {
    min-height:500px;
}

.header-section1 {
    min-height:500px;
    background: #C7DDEA;
    background-image: url("img/family.png");
    background-size: auto 55%;
    background-position: right bottom;
    background-repeat: no-repeat; 
    grid-area: header1;
}

.header-section1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-section1 h1{
    width: 314px;
    height: 101px;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-left: 40px;
    margin-bottom: 0px;
}

.header-section1 p {
    width: 268px;
    height: 103px;
    color: rgba(0, 0, 0, 0.6);
    grid-area: section1;
    margin-top: 0px;
    margin-bottom: 0px;
}

  
.header-section1 .join-button {
    margin-top: 65px;
}
  

button:hover {
    filter:drop-shadow(5px 5px 5px black) invert(100%); 
}


.header-section2 {
    background: #F17949;
    left: 720px;
    top: 0px;
    grid-area: header2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-section2 p, .header-section3 p {
    width: 250px;
    height: 17px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 0px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.5);
}

.header-section2 h2, .header-section3 h2 {
  
    width: 250px;
    height: 41px;
    left: 860px;
    top: 131px;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.02em;
    margin-top: 0px;
    color: #FFFFFF;
}

.header-section3 {
    background: #FAB131;
    grid-area: header3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    text-align: center;
    height: 57px;
    padding-left: 0px;
}

.nav li {
    width: 16%;
}

.nav li a {
    width: 100%;
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: #000000; 
    opacity: 0.4;
}

.nav li a:hover {
    opacity: 1;
}

/*Midori end*/

/* Fredrik start */




.main1 {
    width:100%;
    min-height:300px;
    margin:0;
    padding:0;
    background-color:#A9A19E;
    background-image: linear-gradient(to bottom, #FAB131, #FAB131);
    background-size: 100% 50%;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.infofield, .cards, .aboutus {
    width:100%;
    height:33,3%;
}

.aboutus > h1 {
    color:white;
    text-align:center;
}
.aboutus > p {
    color: rgba(0, 0, 0, 0.6);
    text-align:center;
    line-height: 20px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}


.font, .main1 p {
    font-family: Verdana, Helvetica, sans-serif;
}


.main1 {
    display:inline-block;
    box-sizing: border-box;
    width:100%;
    min-height:300px;
    margin:0;
    padding-top:100px;
    padding-bottom:0;
    /* padding-left:5%;
    padding-right:5%; */
    /*padding:6wv 50px 150px 6wv;*/
    background-color:#A9A19E;
    background-image: linear-gradient(to bottom, #FAB131, #FAB131);
    background-size: 100% 50vw;
    background-position: left bottom;
    background-repeat: no-repeat;
    color:rgba(0,0,0,0.8);
}

.main1 h1 {
    color:white;
    font-size:3em;
}
.infofield h1 {
    width:80%;
    /* background-color:yellow; */
    margin:0;
    margin-bottom:20%;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
}


.infofield, .cards, .aboutus {
    width:100%;
    height:33,3%;
    min-height:300px;
}
.infofield, .cards {
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    
}
.infofield p {
    /* background-color:green; */
    width:85%;
    margin:0;
}
.infofield article {
    /* background-color:purple; */
    display:block;
    box-sizing: content-box;
    width:100%;
    max-width:430px;
    min-height:33,3%;
    margin:0;
    padding:0;
}


.main1 p {
    line-height:2em;
}

.aboutus {
    background-color:#FAB131;
    padding-bottom:150px;
}

.aboutus h1 {
    text-align:center;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
}
.aboutus p {
    text-align:center;
    width:50%;
    padding:0;
    margin-left:auto;
    margin-right:auto;
}

.cards {
    /* background-color:navy; */
    max-width:860px;
    margin-left:auto;
    margin-right:auto;
}

.card {
    background-color:white;
    display:block;
    box-sizing: content-box;
    width:100%;
    max-width:260px;
    min-height:300px;
    margin:13px;
    margin-top:40px;
    padding:0;
    text-align:center;
}
.card h2 {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
.card p {
    width:95%;
    margin-left:auto;
    margin-right:auto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
}
.card-bild {
    display:block;
    box-sizing: content-box;
    width:90%;
    height:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:-20px;
    padding:0;
    background-color:#C7DDEA;
    background-image: url("img/child.png");
    background-size: auto 110%;
    background-position: center 10px;
    background-repeat: no-repeat;
}
.kvinna {
    background-color:#FAB131;
    background-size: auto 300%;
    background-image: url("img/adult.png");
}
.gubbe {
    background-color:#F17949;
    background-size: auto 270%;
    background-image: url("img/old.png");
}


/* FREDRIK END */



/* Shamil start*/

 

.boxes{
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 317px 317px;
}


 

.box1{
    background-color: #C7DDEA;
}
.box2{
  background-color: #ffffff;  
}
.box3{
    background-color: #EBEBEB;
}
.box4{
   background-color: #ffffff; 
}
.box5{
    background-color: #F17949;
}
.box6{
    background-color: #ffffff;
}

 

.boxes h1{
position: absolute;
width: 230px;
height: 126px;
left: 550px;
top: 2015px;

font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 100%;


display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

color: rgba(0, 0, 0, 0.8);


    
}

.one{
    
    
position: absolute;
width: 100px;
height: 100px;
left: 823px;
top: 1920px;

font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 100%;


display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

color: rgba(0, 0, 0, 0.4);
}


.text1{
    position: absolute;
width: 257px;
height: 113px;
left: 821px;
top: 2040px;

font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;


display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.7);
}

.two{
    position: absolute;
width: 100px;
height: 100px;
left: 1140px;
top:  1920px;

font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 100%;


display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

color: rgba(0, 0, 0, 0.4);
}

.text2{
    position: absolute;
width: 157px;
height: 113px;
left: 1210px;
top: 2040px;

font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;


display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.7);
}

.three{
     position: absolute;
width: 100px;
height: 100px;
left: 500px;
top: 2240px;

font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 100%;


display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

color: rgba(0, 0, 0, 0.4);
}

.text3{
    position: absolute;
width: 250px;
height: 113px;
left: 510px;
top: 2350px;

font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;


display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.7);
}


.four{
    position: absolute;
width: 100px;
height: 100px;
left: 821px;
top: 2240px;

font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 100%;


display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

color: rgba(0, 0, 0, 0.4);
}

.text4{
    position: absolute;
width: 257px;
height: 113px;
left: 841px;
top: 2350px;

font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;


display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.7);
}

.five{
    position: absolute;
width: 100px;
height: 100px;
left: 1140px;
top: 2240px;

font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 100%;


display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

color: rgba(0, 0, 0, 0.4);
}


.text5{
    position: absolute;
width: 257px;
height: 113px;
left: 1230px;
top: 2350px;

font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;


display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.7);
}



 


.section1{
width: 100%;
min-height: 68px;

background: #A9A19E;
}



 

.section1 a{
    position: absolute;
width: 255px;
height: 31px;
left: 884px;
top: 2600px;

font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;
text-decoration: none;

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.7);

}

 

.section2{
width: 100%;
height: 340px;

background: #777574;
}

 

/* Shamil end*/



/* CSS FOR INDEX.HTML END */





/* CSS FOR CONTACT PAGE START */


/* Midori start */

.header-contact {
    width: 100%;
    height: 340px;
    background: #C7DDEA;
    margin: 0 auto;
    display: flex;
    background-image: url("img/Frame.png");
    background-size: auto 80%;
    background-position: 90% bottom;
    background-repeat: no-repeat;


}

.header-section {
    
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 270px auto auto auto;
    


}

/* Midori end */



.white-nav {
    background-color:white;
}
.main-contact {
    width:100%;
    min-height:300px;
    margin:0;
    padding:0;
    background-color:#A9A19E;
}




/* CSS FOR CONTACT PAGE END */






/* MEDIA QUERYS START */

@media only screen and (max-width: 850px) {
    .infofield h1 {
        margin-bottom:0;
    }
    .main1 a {
        display:none;
    }

    nav {
        display: none;
    }

    .header-top {
        display: flex;
        flex-direction: column; 
    }

    .header-section1 {
        background-size: auto 50%;
        background-position: center bottom;
        background-repeat: no-repeat; 
        min-height: 724px;
    }

    .header-section1 .join-button {
        margin-top: 30px;
    }

    .header-section2, .header-section3 {
        height: 315px;
    }

    /* contact start*/

    .header-contact {
        background-size: auto 50%;
        background-position: center bottom;
        background-repeat: no-repeat; 
        min-height: 500px;
    }

    .header-sction {
        /*margin-top: 50px;*/
    }

    /* contact end*/


}

/* MEDIA QUERYS END */